[project]
	description = A collection of css themes for Markdown
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wangfei1223
[access "refs/for/refs/*"]
	read = group user/wangfei1223
	push = group user/wangfei1223
	label-Code-Review = -2..+2 group user/wangfei1223
	label-Verified = -1..+1 group user/wangfei1223
	rebase = group user/wangfei1223
	removeReviewer = group user/wangfei1223
	submit = group user/wangfei1223
[access "refs/heads/*"]
	read = group user/wangfei1223
	create = group user/wangfei1223
	push = +force group user/wangfei1223
	pushMerge = group user/wangfei1223
[access "refs/tags/*"]
	push = +force group user/wangfei1223
	pushTag = group user/wangfei1223
	pushSignedTag = group user/wangfei1223
